.containerCourse {
    background-image: url('../../assets//fotos/banderas-mundo-historia.png'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    padding-inline-start: 160px;
    padding-top: 0px;
    padding-block-end: 15px;
    padding-right: 0px;
    
    
    /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    /* Otros estilos opcionales */
  }

 
