.divCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #091832;
  width: 40%;
  height: 80%;
}

.divCardsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 65vw;
  height: 90vh;
  gap: 10px;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 80vh;
}

.registerContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 80%;
  gap: 5px;
  font-size: 18px;
  background: #1f1f1f;
  border-radius: 15px;
  box-shadow: 3px 3px 4px #505050;
}

.registerContainer h2 {
  position: relative;
  top: -20px;
}

.registerContainer input {
  height: 30px;
  width: 200px;
  font-size: 17px;
  border-radius: 10px;
  padding-left: 5px;
}

.divForm1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  gap: 5px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-right: 1px solid #505050;
}

.divForm2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  gap: 5px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.registerContainer button {
  margin-top: 20px;
}

.divRegisterUl {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 50%;
}

.divRegisterUl li {
  list-style: none;
}

.divContainerInputs {
  display: flex;
  width: 80%;
  height: 70%;
}
