.divLoginContainer h2 {
  position: relative;
  top: -20px;
}

.divLoginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70vw;
  height: 80vh;
}

.divLoginContainer form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #1f1f1f;
  font-size: 18px;
  gap: 10px;
  width: 70%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 3px 3px 4px #505050;
}

.divLoginContainer form div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  border-left: 1px solid #505050;
  border-right: 1px solid #505050;
}

.divLoginContainer button {
  margin-top: 20px;
}

.divLoginContainer input {
  height: 30px;
  width: 200px;
  font-size: 17px;
  border-radius: 10px;
  padding-left: 5px;
}

.divLoginUl {
  margin: 10px;
}
